<ng-include src="'partials/appHeader.html'"></ng-include>

<div id="master-container" class="container">
  <div class="row">
    <div id='nav-pane' class="col-md-2">
      <ng-include src="'partials/navPane.html'"></ng-include>
    </div>       
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12"><h3>Home</h3></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>Home</p>
            </div>
          </div>
        </div>
      </div>       
    </div>
  </div>
</div>


